@use 'partial';

/*   Body   */
body{
    margin: 0;
    box-sizing: border-box;
    background-color: partial.$bg-color;

        p{
            font-size: 30px;
            color: partial.$text-color;
            line-height: 1.5;
            font-family: partial.$font;
        }

        h1, h2, h3, h4, h5{
            font-weight: 600;
            font-size: 60px;
            color: partial.$h-color;
            font-family: partial.$h-font;
        }

        h6{
            font-family: partial.$p-font;
            font-size: 40px;
        }
}

img{
    width: 100%;
    height: auto;
}

.container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(50px, auto);
}

header{
    grid-column: 1/6;
    @include partial.flex($justify: space-between);
    background-color: partial.$nav-color;
    border-bottom: 4px solid partial.$primary-color;
}

nav{
    color: partial.$text-color;
    height: 4em;
    padding: 1em;

    @include partial.flex($justify:space-between);

        img{
            width: 70px;
        }

        ul{
            @include partial.flex($justify: space-between);
            list-style-type: none;
        }

        a{
            color: partial.$text-color;
            padding: partial.$padding;
            margin: partial.$padding;
            font-size: 20px;
            font-weight: bold;
            text-decoration: none;
        }

        a:hover{
            color: partial.$primary-color;
        }
}

.mobile-nav{
    .bars{
        display: none;
    }
}

.toggleshow{
    display: flex;
    flex-direction: column;
}

.active{
    color: partial.$primary-color;
}

/* Header billede */
.header-img{
    position: relative;
    margin-bottom: 1em;

        .banner-tekst{
            position: absolute;
            top: 25%;
            left: 5%;
        }

        h1{
            font-size: 3.5vw;
        }

        p{
            font-size: 2vw;
        }

        a{
            @include partial.btn;
            position: absolute;
        }

        .bg-billede-mobil{
            display: none;
        }
}

/* Hovedindhold */
main{
    grid-column: 1/6;
    display: grid;
    grid-template-columns: repeat(6, 1fr);

        h2{
            color: partial.$h-color;
            grid-column: 1/7;
            text-align: center;
        }

        .cta-wrapper{
           grid-column: 1/7;
           display: flex;
           justify-content: space-around; 
        }
}

/* CTA */
.cta-1{
    @include partial.cta-boks;

        img{
            width: 60%;
            margin: 0 auto;
            display: block;
        }

        a{
            @include partial.btn;
            color: #AD41FC;
            display: block;
        }

        p{
            margin-bottom: 2em;
        }
}

.cta-2{
    @include partial.cta-boks;

        img{
            width: 60%;
            margin: 0 auto;
            display: block;
        }

        a{
            @include partial.btn;
            color: partial.$primary-color;
            display: block;
        }

        p{
            margin-bottom: 2em;
        }
}

.cta-3{
    @include partial.cta-boks;

        img{
            width: 60%;
            margin: 0 auto;
            display: block;
        }

        a{
            @include partial.btn;
            color: #AD41FC;
            display: block;
        }

        p{
            margin-bottom: 2em;
        }
}



/* Venus media værdier */
.venus{
    grid-column: 1/7;
    display: grid;
    grid-template-columns: repeat(6, 1fr);

        .venus-1{
            grid-column: 1/3;
        }

        .venus-2{
            grid-column: 4/7;
        }
}

/* Kontaktformular */
.kontakt-bg-img {
    grid-column: 1/7;
    background-size: cover;
    background: linear-gradient(rgba(142, 142, 142, 0.8), rgba(142, 142, 142, 0.8)), url(../img/meeting.jpg)
}

.kontaktform {
    background-color: partial.$bg-color;
    border-radius: 5px;
    padding: 1.3em;
    width: 50%;
    margin: 4em auto; 

        h4{
            margin-bottom: 0;
            margin-left: 0.5em;
        }

        p{
            margin-left: 1em;
        }
}

.section-form{
    display: flex;
}

/* select = dropdown + textarea = beskedfelt */
input[type=text], input[type=email], input[type=tel], select, textarea{
    width: 100%;
    padding: 1em;
    border: 2px solid partial.$secondary-color;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: partial.$font;
    margin: 0.5em 1em 1em 1em;
}

input[type=submit]{
    @include partial.btn;
    border: none;
    width: 100%;
    margin: 0 1em;
}

.visually-hidden{ /*Bootstrap defineret class som fjerner element fra skærm, men som stadig kan læses af skærmlæseren*/
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	padding: 0 !important;
	margin: -1px !important;
	overflow: hidden !important;
	clip: rect(0,0,0,0) !important;
	white-space: nowrap !important;
	border: 0 !important;
}

/* Footer */
footer:nth-of-type(1){
    grid-column: 1/7;
    background-color: partial.$footer-color;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 1em 4em;

        p{
            font-size: 30px;
            line-height: 0.5;
        }

        h6{
            font-size: 40px;
            color: partial.$text-color;
        }

        a{
            color: partial.$primary-color;
        }
}

.footer-left{
    grid-column: 1/3;
}

.footer-mid{
    grid-column: 3/5;

        a{
            color: partial.$text-color;
            padding: partial.$padding;
            margin: partial.$padding;
            font-size: 20px;
            font-weight: bold;
            text-decoration: none;
        }
}

.footer-right{
    grid-column: 5/7;
    line-height: 0;
}

/* Footer bund */
footer:nth-of-type(2){
    grid-column: 1/7;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    text-align: center;

        .bund-left{
            grid-column: 1/4;
                p{
                    color: partial.$primary-color;
                }
        }

        .logo-footer{
            width: 100px;
            height: auto;
        }

        .bund-right{
            grid-column: 4/7;
        }
}






/*****----- Mobil -----*****/
@media screen and (max-width: 900px){
    header:nth-of-type(1){
        display: inline;
    }

    .mobile-nav{
        color: partial.$primary-color;

            .bars{
                display: flex;
            }
    }

    .desktop-nav{
        display: none;
        height: auto;
        border-top: 4px solid partial.$primary-color;

            ul{
                flex-direction: column;
            }

            li{
                display: flex;
            }
    }

    .header-img{
        .banner-tekst{
            left: 5%;
            top: 15%;
            position: absolute;
        }

        h1{
            font-size: 5vw;
        }

        p{
            font-size: 4vw;
        }

        a{
            @include partial.btn;
        }

        .bg-billede-mobil{
            display: initial;
        }

        .bg-billede-desktop{
            display: none;
        }
    }

    main{
        .cta-wrapper{
            flex-direction: column;
        }

        .cta-1{
            @include partial.cta-boks($width:80%);

            img{
                width: 50%;
            }
        }

        .cta-2{
            @include partial.cta-boks($width:80%);

            img{
                width: 50%;
            }
        }

        .cta-3  {
            @include partial.cta-boks($width:80%);

            img{
                width: 50%;
            }
        }
    }



}